@font-face {
    font-family: myFont;
    src: url(GreatVibes-Regular.ttf);
}
.box{
    float: left;
    width:33.33%;
    padding:4px;
    size-adjust: 20 20;
}
#roundimage{
    display:flex;
align-items: center;
justify-content:space-between;
padding:20px 80px;


}

/* .container{
    margin:15px auto;
 
    padding:8px;
} */
.image img {
    border-radius: 50%;
    height: 700px;
    float: left;
    margin-right: 10px;
  }

.textbox{
    text-align: justify;
    color: rgb(18, 17, 17);
    float: right;
    
}
.textbox p{
    font-family: myFont;
    font-size: 64px;
}
*{
    margin: 0;
    padding: 0;
    font-family: myFont;
    box-sizing: border-box;
}
.slider{
    position: relative;
    width: 100%;
    background-color: black;

}
.myslider{
    height: 655px;
    display: none;
    overflow: hidden;
}
.previous, .next{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: 15px;
    cursor: pointer;
    color: yellowgreen;
    transition: 0.1s;
    user-select: none;

}
.previous:hover, .next:hover{
    color: yellowgreen;

}
.next{
    right:0;

}
.previous{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width:15px;
    height:15px;
    boarder:3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}
