

/* now style navbar element */
.navbar
{
    /* sticky position  so it wil be relative but always stick to top*/
    position: sticky; 
    top:0;
    left:0;
    width: 100%;
   
    background: #fdf6f0;
    /* z index to highest number so nav will always be on top of other elements*/
    z-index: 9;
}
/* designing the container of the nav bar */
.nav-div
{
    padding: 10px 10vw;
    /* display flex; to make space between logo and search box */
    display: flex;
    justify-content: space-between;
    
}
/* designing the logo */
.brand-logo
{
    height: 60px;

}
.nav-items
{
    display: flex;
    align-items: center;

}
.search
{
    width: 500px;
    display: flex;
}
.search-box
{
    width: 80%;
    height: 40px;
    padding: 10px;
    /* round the left top and bottom corners */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid ##fdf6f0;
    text-transform: capitalize;
    background: none;
    color: ##fdf6f0;
    outline: none;
    
}
/* using placeholder keyword to style inout's placeholder */
.search-box::placeholder
{
color:##fdf6f0;
}
.search-btn
{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: ##fdf6f0;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
}
/* lel (a) items  */
.nav-items a{
    margin-left: 20px;
}
.nav-items img
{
    width: 30px;
}
.links-container
{

    width:100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top:1px solid #fdf6f0;

}
.link
{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    /* color: #383838; */
    color: rgb(150, 42, 42);
    opacity: 0.5;
    transition: .5s;
}
.link:hover
{
    opacity: 1;
}

























/* 
//////////////////////////////////// */
body { background-color: #e8dbd5;
  font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=email] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px;
  /* background: #D6D6D6; */
  background:#e8dbd5 ;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: white;
  
}

/* Set a style for all buttons */
button {
  background-color:#D6D6D6;
  color:white ;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
 
  float: center;
  width: 40%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: brown;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color:beige;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: solid beige;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid brown;
  width: 40%;
  margin-bottom: 10px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 50px) {
  .cancelbtn, .signupbtn {
     width: 50%;
  }
}